<%- include('./partials/header.ejs')%>
    <main>
      <div class="content">
        <!--Add the primary details of the page-->
        <h1>Tutor Test!</h1>
      </div>
    </main>
<%- include('./partials/footer.ejs')%>