<%- include('../partials/header.ejs')%>
  <body>
    <br><br><br>
    <form action="/send-email" method="post">
      <label for="recipientEmail">Recipient Email:</label>
      <input type="email" id="recipientEmail" name="recipientEmail" required>
      
      <label for="subject">Subject:</label>
      <input type="text" id="subject" name="subject" required>
      
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>
      
      <button type="submit">Send Email</button>
    </form>
  </body>
<%- include('../partials/footer.ejs')%>