<%- include('../partials/navbar.ejs')%>
  <head>
    <link rel="stylesheet" href="/css/home_page.css" />
  </head>

  <body>
    <div class="home-page">
      <div class="grid-container">
        <div class="grid-item">
          <button class=button-img>
            <a class='text'href='/appointments'>
            <img class="img" src="/images/appointment.png" />
          </a>
          </button>
          <button class='button-text'>
            <a class='text'href='/appointments'>Appointments</a>
          </button>
        </div>
        <div class="grid-item">
          <button class=button-img>
            <a class='text'href='/students'>
            <img class="img" src="/images/students.png" />
          </a>
          </button>
          <button class=button-text>
            <a class='text'href='/students'>Students</a>
          </button>
        </div>
        <div class="grid-item">
          <button class=button-img>
            <a class='text' href='/profile'>
            <img class="img" src="/images/profile.jpg" />
          </a>
          </button>
          <button class='button-text'>
            <a class='text' href='/profile'>Profile</a>
          </button>
        </div>
      </div>
    </div>
  </body>
  <%- include('../partials/footer.ejs')%>