<%- include('./partials/header.ejs')%>
    <main>
      <!--Add the primary details of the page--><br><br><br><br><br><br><br><br><br><br><br><br>
      <h1>Error 404!</h1>
    </main>
<%- include('./partials/footer.ejs')%>