<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="sign-in-page">
      <div class="group-wrapper">
          <img class="logo" src="/images/logo.png" />
            <a href="/auth/google">
              <i class="fab fa-google left"></i>Start Here
          </a>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <%- include('./partials/footer.ejs')%>
  </body>
</html>
