<%- include('./partials/header.ejs')%>
  <main>

    <body>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
        <%= title %>
      </title>

      <h1>
        <%= title %>
      </h1>
      <p>Welcome to the basic EJS template!</p>
    </body>
  </main>
  <%- include('./partials/footer.ejs')%>