body, html{
  height: 100%;
  margin: 0;
}
.sign-in-page {
  background-image: url("/images/main.png");
  height: 93%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.group-wrapper {
  text-align: center;
  position:fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Set a style for all buttons */
a {
  background-color: #368f4f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* For main screen buttons */
a{
  text-align: center;
  display: block;
  margin-top: 10px;
  box-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #000000;
  font-family: "Hind-Regular", Helvetica;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}
