<%- include('../partials/navbar.ejs')%>
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <div class="home-page">
      <div class = "profile">
        <div class = "grid-container">
          <div class="grid-item">
            <img class="photo" src="/images/profile.jpg" />
            <form action="/action_page.php">
              <label for="img">Upload Photo:</label>
              <input type="file" id="img" name="img" accept="image/*">
            </form>          
          </div>
          <div class="grid-item">
            <p>Name: Your Name</p>
            <p>Courses Tutoring: ITSC 1213, ITSC 3146, MATH 1241, MATH 3181</p>
            <p>Email: yourname@gmail.com</p>
            <form action="/action_page.php">
              <label for="bio"><b>Bio:</b></label>
                <textarea id="bio" name="bio" rows="5" cols="80"></textarea>
                <div class="clearfix">
                  <button type="submit" class="resetbtn">Reset Password</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<%- include('../partials/footer.ejs')%>